// animation border
// backgroud vedio
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    


}
button{
    cursor: pointer;
}

@font-face {
    font-family: 'Arthead';
    font-weight: 400;
    src: url(../font/Arthead-Regular.otf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url(../font/Poppins-Regular.ttf);
}

body {
    background-color: #000000;
    padding: 0px 10px;
}

.contner {
    width: 1440px;
    overflow: hidden;
    height: 4956px;
    margin: 0 auto;

    background-color: #16162D;
    background-image: url(../IMG/bakcHed.png);
    background-repeat: no-repeat;
    position: relative;

    .vidback {
        width: 100%;
        position: absolute;
        opacity: 0.2;
    }

    &::before {
        position: absolute;

        content: url(../IMG/body.png);
        // content: url(../IMG/test.mp4);

        background-blend-mode: soft-light;
        opacity: 80%;
        width: 100%;
        height: 500px;
        z-index: 10;
    }

    .Header {
        position: relative;
        z-index: 100;
        width: 100%;
        height: 787px;
        display: flex;
        justify-content: center;

        .Hed {
            width: 1280px;
            height: 100px;
            display: flex;
            // display: none;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;


            .leftHeader {
                width: 400px;
                height: auto;
                margin: 30px 0px;
                display: flex;
                justify-content: space-between;

                ul {
                    display: flex;

                    li {
                        list-style-type: none;
                        margin: 0 20px;

                        a {
                            font-size: 20px;
                            text-decoration: none;
                            transition: 0.4s;
                            padding-bottom: 5px;

                            &:hover {
                                color: rgba(183, 29, 255, 1);
                                border-bottom: 2px solid white;
                            }
                        }

                    }
                }
            }

            .RightHeader {
                input {
                    margin: 0 5px;
                }

                input:nth-of-type(1) {
                    width: 100px;
                    height: 40px;
                    border-radius: 118px;
                    border: 1px solid white;
                    outline: none;
                    background-color: rgba(183, 29, 255, 0);
                    font-size: 14px;
                    color: white;
                }

                input:nth-of-type(2) {
                    width: 100px;
                    height: 40px;
                    border-radius: 118px;
                    border: none;
                    outline: none;
                    background-color: rgba(183, 29, 255, 1);
                    font-size: 14px;
                    color: white;
                }
            }

            .photoHead {
                width: 100%;
                height: auto;
                display: flex;
                margin-top: 100px;

                .PHright {
                    width: 50%;
                    height: auto;


                    h4 {
                        font-size: 90px;
                        height: 617px;
                        height: 306px;
                        line-height: 120px;
                        letter-spacing: -1%;
                        margin: 30px 0px;
                        font-family: 'Arthead';
                        font-weight: 400;
                    }

                    p {
                        font-size: 22px;
                        margin-top: 15px;
                        line-height: 38px;
                        font-family: 'Poppins';
                        font-weight: 400;

                    }

                    .icoHead {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        align-content: center;
                        width: 515px;
                        height: 110px;
                        margin-top: 20px;


                        span {
                            color: rgba(183, 29, 255, 1);
                        }

                        >p {
                            font-size: 22px;
                            font-family: 'Poppins';
                            font-weight: 400;

                        }
                    }
                }

                .PHleft {
                    width: 50%;
                    height: 400px;

                    display: flex;
                    align-items: center;
                    position: relative;

                    figure>img:nth-of-type(1) {

                        &:hover {

                            position: relative;
                            z-index: 20;
                        }


                    }

                    figure>img:nth-of-type(2) {
                        position: absolute;
                        left: 170px;
                        z-index: 10;
                    }

                    .PHPleft {
                        width: 102px;
                        height: 340px;

                        position: absolute;
                        right: 0px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        text-align: justify;

                        div>h5 {
                            font-size: 48px;
                            font-family: 'Arthead';
                            font-weight: 400;

                            span {
                                color: rgba(133, 0, 237, 1);
                            }

                        }

                        div>p {
                            font-size: 24px;
                            font-family: 'Poppins';
                            font-weight: 400;
                        }
                    }
                }
            }

        }
    }

    .Body {
        background-image: url(../IMG/backBody.png);
        width: 100%;
        height: 1530px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::before {
            content: url(../IMG/backBody2.png);
            width: 100%;
            height: 945px;
            position: absolute;
            top: 2100px;
            display: flex;



        }
    }


    .sectionI {
        top: 100px;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        // background-color: blue;

        h3 {
            font-size: 60px;
            list-style: 58px;
            font-family: 'Arthead';
            font-weight: 400;
            margin-top: 100px;
        }

        p {
            width: 531px;
            height: 60px;
            font-size: 20px;
            font-family: 'Poppins';
            font-weight: 400;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 100px;

        }

        .slider {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 1280px;
            height: auto;

            .Ccount {
                width: 402px;
                height: 588px;
                background-color: rgba(2, 2, 27, 0.852);


                h3 {
                    font-size: 18px;
                    font-family: 'poppins';
                    font-weight: 400;
                    color: white;
                    margin-top: 10px;
                }

                h4 {
                    font-size: 28px;
                    font-family: 'poppins';
                    font-weight: 400;
                    color: white;
                    margin-top: 5px;
                }

                .caption {
                    margin: 20px;
                }

                .Ction {

                    width: 100%;
                    height: auto;
                    justify-content: space-between;
                    display: flex;
                    align-items: center;


                    #btLink {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 110px;
                        height: 35px;
                        background: linear-gradient(rgba(2, 2, 27, 1), rgba(2, 2, 27, 1)) padding-box,
                            linear-gradient(180deg, #B71DFF 0%, #D30D84 20.31%, #2F022D 43.23%, #8500ED 100%) border-box;
                        border-radius: 19px;
                        border: 2px solid transparent;
                        font-size: 16px;
                        font-family: 'poppins';
                        font-weight: 400;
                        transition: 0.1s;

                        &:hover {
                            border: 4px solid transparent;
                        }
                    }

                }

                figure {
                    display: flex;


                    width: 132px;
                    height: 44px;
                    margin-top: 15px;
                    position: relative;

                    a:nth-of-type(2)img {

                        position: absolute;
                        left: 25px;
                    }

                    a:nth-of-type(3)img {

                        position: absolute;
                        left: 50px;
                    }
                }
            }
        }

        .explore {
            font-size: 20px;
            font-weight: 400;
            font-family: 'poppins';
            width: 196px;
            height: 58px;
            border-radius: 108px;
            border: 2px solid transparent;
            margin-top: 90px;
            transition: .1s;
            display: flex;
            outline: none;
            align-items: center;
            justify-content: center;
            background: linear-gradient(rgb(2, 2, 27), rgba(2, 2, 27, 1)) padding-box,
                linear-gradient(180deg, #B71DFF 0%, #D30D84 20.31%, #2F022D 43.23%, #8500ED 100%) border-box;

            &:hover {
                border: 4px solid transparent;
            }


        }
    }

    .sectionII {
        z-index: 100;
        width: 1280px;
        height: auto;
        padding: 20px;
        text-align: center;

        h3 {
            font-size: 60px;
            font-weight: 400;
            font-family: 'arthead';
            margin-top: 150px;
        }

        p {
            width: 531px;
            height: 60px;
            font-size: 20px;
            font-weight: 400;
            font-family: 'poppins';
            margin: 20px auto;
            line-height: 30px;

        }

        .carcter {
            width: 100%;
            height: 420px;
            display: grid;
            grid-template-columns: repeat(3, 400px);
            grid-template-rows: repeat(3, 120px);
            justify-content: space-between;
            align-content: space-between;
            margin-top: 100px;

            >div {
                background: linear-gradient(275.41deg, #B71DFF -4.98%, #7A16B7 40.78%, #070B2E 102.17%);
                display: flex;
                align-items: center;

                >div {
                    h4 {
                        font-size: 24px;
                        font-weight: 500;
                        font-family: 'poppins';
                        margin: 10px 30px;

                    }

                }
            }
        }
    }

    .sectionIII {
        width: 1280px;
        height: auto;
        z-index: 100;
        margin: 100px 0px;

        .sec {
            display: flex;

            .secLeft {
                width: 50%;
                height: auto;
                display: flex;
                flex-direction: row;


                position: relative;

                .secSlideRight {
                    width: 360px;
                    height: 400px;
                    background-color: rgb(25, 0, 255);
                    position: absolute;
                    top: 0px;
                    left: 140px;
                    display: flex;
                    flex-direction: column;
                    rotate: (30deg);

                    >div {
                        a {
                            width: 90%;
                            color: black;
                            font-size: 15px;
                            font-weight: 400;
                            font-family: 'poppins';
                            text-align: left;
                            display: flex;
                            align-items: center;
                            margin: 15px 0px;

                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }

                        width: 100%;
                        height: 170px;
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        >div {

                            width: 90%;
                            height: 60px;
                            background-color: rgba(23, 23, 47, 1);
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            button {
                                width: 100px;
                                height: 30px;
                                background-color: rgba(183, 29, 255, 1);
                                color: rgba(28, 28, 28, 1);
                                font-size: 10;
                                font-family: 'poppins';
                                font-weight: 400;
                            }
                        }
                    }

                }


                .secSlideLeft {
                    width: 360px;
                    height: 400px;

                    display: flex;
                    flex-direction: column;




                    >div {
                        a {
                            width: 90%;
                            color: black;
                            font-size: 15px;
                            font-weight: 400;
                            font-family: 'poppins';
                            text-align: left;
                            display: flex;
                            align-items: center;
                            margin: 15px 0px;

                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }

                        width: 100%;
                        height: 170px;
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        >div {

                            width: 90%;
                            height: 60px;
                            background-color: rgba(23, 23, 47, 1);
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            button {
                                width: 100px;
                                height: 30px;
                                background-color: rgba(183, 29, 255, 1);
                                color: rgba(28, 28, 28, 1);
                                font-size: 10;
                                font-family: 'poppins';
                                font-weight: 400;
                            }
                        }
                    }


                }


            }

            .secRight {
                width: 50%;
                height: auto;

                .eloxpre {
                    width: 196px;
                    height: 58px;
                    border-radius: 108px;
                    margin-top: 50px;
                    border: 2px solid transparent;
                    background: linear-gradient(rgb(2, 2, 27), rgba(2, 2, 27, 1)) padding-box,
                        linear-gradient(180deg, #B71DFF 0%, #D30D84 20.31%, #2F022D 43.23%, #8500ED 100%) border-box;
                    font-size: 20px;
                    font-family: 'poppins';
                    font-weight: 400;
                    transition: 0.1s;

                    &:hover {
                        border: 4px solid transparent;
                    }
                }

                h3 {
                    margin-bottom: 30px;
                    font-size: 60px;
                    font-weight: 400;
                    font-family: 'arthead';
                }

                h4 {
                    font-size: 22px;
                    font-weight: 400;
                    font-family: 'poppins';
                }

                a {
                    margin-top: 5px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 165px;
                    height: 54px;
                    border: none;
                    outline: none;
                    border-radius: 27px;
                    background-color: rgba(183, 29, 255, 1);
                    font-size: 20px;
                    font-weight: 400;
                    font-family: 'poppins';

                }

                .current {
                    display: flex;

                    justify-content: space-around;
                    margin-top: 30px;

                    .current_L {
                        position: relative;

                        h5 {
                            font-size: 24px;
                            font-family: 'poppins';
                            font-weight: 400;
                        }

                        h4 {
                            font-size: 44px;
                            font-family: 'arthead';
                            font-weight: 400;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            width: 100px;
                            height: 1px;
                            background-color: rgba(47, 47, 47, 1);
                            rotate: (90deg);
                            top: 50%;
                            left: 190px;





                        }
                    }

                    .current_R {
                        h5 {
                            width: 100%;
                            text-align: center;

                            height: 20px;
                            font-size: 24px;
                            font-weight: 400;
                            font-family: 'poppins';
                        }

                        display: flex;
                        flex-direction: column;

                        .etch {
                            display: flex;
                            margin-top: 20px;

                            .emy {
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                margin: 20px 15px;

                                h3 {
                                    font-size: 30px;
                                    font-weight: 400;
                                    font-family: 'arthead';
                                    height: 10px;
                                }

                                h4 {
                                    font-size: 16px;
                                    font-weight: 400;
                                    font-family: 'poppins';
                                    height: 19px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .sectionIV {
        width: 1280px;
        height: auto;
        z-index: 100;

        .sevIV {
            width: 100%;
            height: auto;


            .browse {
                display: flex;
                justify-content: space-between;

                h3 {
                    font-size: 60px;
                    font-weight: 400;
                    font-family: 'arthead';

                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    font-family: 'poppins';
                    font-weight: 400;
                    width: 196px;
                    height: 60px;
                    border: 2px solid transparent;
                    border-radius: 98px;
                    background: linear-gradient(rgb(2, 2, 27), rgba(2, 2, 27, 1)) padding-box,
                        linear-gradient(180deg, #B71DFF 0%, #D30D84 20.31%, #2F022D 43.23%, #8500ED 100%) border-box;
                    transition: 0.1s;

                    &:hover {
                        border: 4px solid transparent;
                    }
                }
            }

            .slider {
                display: flex;
                justify-content: space-evenly;
                margin-top: 70px;

                >div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 400px;
                    height: 479px;

                    border: 5px solid;
                    border-image-slice: 1;
                    border-image-source: linear-gradient(180deg, #B71DFF 0%, #D30D84 20.31%, #2F022D 43.23%, #8500ED 100%);

                    a img {
                        width: 100%;
                        height: auto;
                    }

                    .ttx {

                        width: 100%;
                        height: 159px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }

                    h3 {
                        font-size: 32px;
                        font-family: 'poppins';

                    }
                }
            }

            .sub {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 100px;
                position: relative;

                h2 {
                    font-size: 70px;
                    font-weight: 400;
                    font-family: 'arthead';

                }

                p {
                    width: 405px;
                    height: 66px;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 60px;
                }

                input {
                    position: relative;
                    width: 600px;
                    height: 70px;
                    border-radius: 50px;
                    outline: none;
                    background-color: transparent;
                    border: 2px solid #602888;
                    font-size: 20px;
                    font-weight: 400;
                    font-family: 'poppins';
                    padding-left: 45px;

                    &::placeholder {
                        color: white;
                    }


                }

                button {
                    width: 300px;
                    margin: 30px 0;
                    height: 60px;
                    border-radius: 50px;
                    background-color: #070B2E;
                    font-size: 20px;
                    font-weight: 400;
                    font-family: 'poppins';
                }

                &::after {
                    content: url(../IMG/mask1.png);
                    position: absolute;
                    left: 164px;
                    top: 85px;
                }

                &::before {
                    content: url(../IMG/mask2.png);
                    position: absolute;
                    right: 130px;
                    top: 70px;
                }

            }
        }
    }

    .Footer {
        background-image: url(../IMG/bakcfooter.png);
        width: 100%;
        height: 245px;
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: center;

        &::after {
            content: url(../IMG/backfoter2.png);
            position: absolute;
            bottom: 0px;
            right: 0px;
        }

        &::before {
            content: url(../IMG/bakcfooter3.png);
            position: absolute;
            bottom: 0px;
        }

        .foter {
            width: 1280px;
            height: 400x;
            position: absolute;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .Fright {
                width: 350px;
                height: 232px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h2 {
                    font-family: 'poppins';
                    font-size: 24px;
                    font-weight: 700;

                }

                p {
                    width: 262px;
                    height: 24px;
                    font-size: 14;
                    font-family: 'poppins';
                    font-weight: 400;
                }

                .social {
                    ul {
                        width: 200px;
                        display: flex;
                        justify-content: space-between;


                        li {
                            list-style-type: none;
                        }
                    }
                }

            }

            .Fleft {
                width: 635px;
                height: 232px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                figcaption,
                label {
                    font-size: 20px;
                    font-weight: 500;
                    font-family: 'poppins';
                }

                figure {
                    display: flex;
                    flex-direction: column;
                }

                ul {
                    li {
                        list-style-type: none;
                        margin: 12px 0px;
                        font-size: 14px;
                        font-weight: 400;
                        font-family: 'poppins';
                    }
                }

                input {
                    width: 255px;
                    height: 40px;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    background-color: rgba(159, 114, 181, 0.642);
                    margin-top: 24px;
                    padding-left: 20px;

                    &::placeholder {
                        color: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }
}